<a href="https://colab.research.google.com/github/RatihParamita/dataMining/blob/main/Latihan2Week16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('Dataset Valentine.csv')
print(df.shape)
print("Deskripsi data:")
df.describe(include='all').transpose()

(20000, 10)
Deskripsi data:

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Name,20000,17795,Michael Johnson,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,20000.0,NaN,NaN,NaN,29.0338,6.622458,18.0,23.0,29.0,35.0,40.0
Gender,20000,2,Male,10047,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Income,20000.0,NaN,NaN,NaN,50051.03415,17329.779354,20004.0,35013.25,50230.0,65120.5,79998.0
Appearance_Score,20000.0,NaN,NaN,NaN,50.136727,28.877615,0.0,25.07,50.32,75.2225,99.99
Interests_Score,20000.0,NaN,NaN,NaN,49.950643,28.77412,0.01,25.31,49.53,74.88,100.0
Confidence_Score,20000.0,NaN,NaN,NaN,49.913995,28.978751,0.01,24.8075,49.96,74.95,100.0
Educational_Status,20000,4,High School,5107,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Job_Type,20000,2,Employed,10014,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Valentine_Date,20000.0,NaN,NaN,NaN,0.4933,0.499968,0.0,0.0,0.0,1.0,1.0

In [9]:
print("Fitur-fitur dalam dataset:")
print(df.columns)

Fitur-fitur dalam dataset:
Index(['Name', 'Age', 'Gender', 'Income', 'Appearance_Score',
       'Interests_Score', 'Confidence_Score', 'Educational_Status', 'Job_Type',
       'Valentine_Date'],
      dtype='object')

In [10]:
target_column = 'Valentine_Date'
print(f"Kolom target: {target_column}")

Kolom target: Valentine_Date